<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
    <h3>Owner Name <input type="text" name="owner[name]" id="owner_name"></h3>
    <h3>Pet Name <input type="text" name="pet[name]" id="pet_name"> or choose:</h3>

    <% Pet.all.each do |pet| %>
        <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.name %>" value="<%= pet.id %>"><%= pet.name %></input>
    <% end %>

    <br></br>
    <input type="submit" value="Create Owner">
</form>
